# Build results
[Dd]ebug/
[Rr]elease/
*.dll
*.pdb
*.exe
*.exp
*.lib
*.obj
*.o
*.lo
*.rej
*.bak
*.gz
*.zip
*.tar
*.tmp
*.log
*.cache
*.apk
*.ap_
*.dex
*.class
*.jar
*.lock.json
*.vspscc
*.vssscc
*.vsproj
*.user
*.suo
*.nxproj
*.xcframework
*.xcodeproj
*.xcworkspace
*.playground
*.ipa
*.xcdatamodels
*.xcuserstate
*.xcscheme

# VS Code related files
.vscode/

# Visual Studio files
.vs/
*.sln.docstates
*.user
*.vssscc
*.vspscc
*.suo
*.bak
*.ncb
*.opendb
*.opensdf
*.sdf
*.sync
*_UpgradeReport.htm
bin/
obj/
[Bb]in/
[Oo]bj/

# NuGet packages
packages/
*.nupkg
.nuget/nuget.exe
.nuget/*.txt
.nuget/*.xml

# Rider
.idea/
*.iml

# Mac
.DS_Store

# Project specific files
*.csproj.user
*.vbproj.user
*.fsproj.user
*.sqlproj.user
*.ccproj.user

# Ignore xunit test runner XML report files
*.trx

# MSBuild output files
*.log
*.wrn
*.err

# Azure functions
local.settings.json

# Key files
*.pfx
*.snk

# Certificate files
*.cer
*.crt
*.der
*.pem

# Other temp files
*~
*#
\#*
.#*
*.swo
*.swp
*.bak
*.org
*.DS_Store
Thumbs.db